label{
    color: #fff;
    margin-bottom: 0.5rem;
}
.form{
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 4rem 1rem;
    max-width: 600px;
}
.form input, .form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color:  rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    color: #f4f4f4;
}